In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [9]:
data = pd.read_csv('data.csv', sep=';')

/home/raphael/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (22,75) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
data.head()

,account.licenseNumber,account.name,imvl_type,listing.acceptExchange,listing.address.city,listing.address.confidence,listing.address.country,listing.address.level,listing.address.neighborhood,listing.address.point.lat,...,listing.title,listing.totalAreas,listing.unitFloor,listing.unitSubTypes,listing.unitTypes,listing.unitsOnTheFloor,listing.updatedAt,listing.usableAreas,listing.usageTypes,type
0,04268-J-SP,ADI Assessoria e Imóveis Ltda,apartamentos,False,São Paulo,VALID_STREET,BR,STREET,Parada Inglesa,-23.493796,...,SãO PAULO - Apartamento Padrão - Parada Inglesa,45,0,normal,APARTMENT,0,2020-07-24T05:06:08.843Z,45,RESIDENTIAL,superPremium
1,00254-J-SC,San Remos Imóveis,apartamentos,False,Florianópolis,VALID_STREET,BR,STREET,Agronômica,-27.576887,...,Florianópolis - Apartamento Padrão - Agronômica,140,0,normal,APARTMENT,0,2020-07-12T11:43:29.976Z,140,RESIDENTIAL,superPremium
2,48861-F-RJ,Família Bacellar Imobiliária,apartamentos,False,Rio de Janeiro,VALID_STREET,BR,STREET,Recreio Dos Bandeirantes,-23.018798,...,Rio de Janeiro - Apartamento Padrão - Recreio ...,100,0,normal,APARTMENT,0,2020-07-30T03:11:32.521Z,100,RESIDENTIAL,superPremium
3,17452-J-SP,Next Soluções Imobiliárias,apartamentos,False,Campinas,VALID_STREET,BR,STREET,Cambuí,-22.899193,...,Campinas - Apartamento Padrão - Cambuí,80,0,normal,APARTMENT,0,2020-07-16T17:15:06.708Z,80,RESIDENTIAL,premium
4,24344-J-SP,QUINTO ANDAR SERVICOS IMOBILIARIOS LTDA,apartamentos,False,São Paulo,VALID_STREET,BR,STREET,Ipiranga,-23.598672,...,São Paulo - Apartamento Padrão - Ipiranga,69,0,normal,APARTMENT,0,2020-07-29T04:32:26.854Z,69,RESIDENTIAL,premium

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35772 entries, 0 to 35771
Data columns (total 78 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   account.licenseNumber                 35772 non-null  object
 1   account.name                          35772 non-null  object
 2   imvl_type                             35772 non-null  object
 3   listing.acceptExchange                35772 non-null  bool
 4   listing.address.city                  35772 non-null  object
 5   listing.address.confidence            35772 non-null  object
 6   listing.address.country               35772 non-null  object
 7   listing.address.level                 35772 non-null  object
 8   listing.address.neighborhood          35772 non-null  object
 9   listing.address.point.lat             35772 non-null  object
 10  listing.address.point.lon             35772 non-null  object
 11  listing.address.point.source          35772 non-null  object
 12  listing.address.precision             35772 non-null  object
 13  listing.address.state                 35772 non-null  object
 14  listing.address.street                35772 non-null  object
 15  listing.address.streetNumber          35772 non-null  object
 16  listing.address.zipCode               35772 non-null  object
 17  listing.address.zone                  35772 non-null  object
 18  listing.advertiserId                  35772 non-null  object
 19  listing.amenities                     35772 non-null  object
 20  listing.backyard                      35772 non-null  bool
 21  listing.barbgrill                     35772 non-null  bool
 22  listing.bathrooms                     35772 non-null  object
 23  listing.bathtub                       35772 non-null  bool
 24  listing.bedrooms                      35772 non-null  int64
 25  listing.businessTypeContext           35772 non-null  object
 26  listing.createdAt                     35772 non-null  object
 27  listing.description                   35772 non-null  object
 28  listing.displayAddressType            35772 non-null  object
 29  listing.externalId                    35772 non-null  object
 30  listing.fireplace                     35772 non-null  bool
 31  listing.floors                        35772 non-null  object
 32  listing.furnished                     35772 non-null  bool
 33  listing.garden                        35772 non-null  bool
 34  listing.guestpark                     35772 non-null  bool
 35  listing.gym                           35772 non-null  bool
 36  listing.hottub                        35772 non-null  bool
 37  listing.id                            35772 non-null  int64
 38  listing.isInactive                    35772 non-null  bool
 39  listing.legacyId                      35772 non-null  object
 40  listing.link                          35772 non-null  object
 41  listing.listingType                   35772 non-null  object
 42  listing.mountainview                  35772 non-null  bool
 43  listing.parkingSpaces                 35772 non-null  object
 44  listing.partyhall                     35772 non-null  bool
 45  listing.playground                    35772 non-null  bool
 46  listing.pool                          35772 non-null  bool
 47  listing.portal                        35772 non-null  object
 48  listing.preview                       35772 non-null  bool
 49  listing.pricingInfo.businessLabel     35772 non-null  object
 50  listing.pricingInfo.businessType      35772 non-null  object
 51  listing.pricingInfo.isRent            35772 non-null  bool
 52  listing.pricingInfo.isSale            35772 non-null  bool
 53  listing.pricingInfo.monthlyCondoFee   35772 non-null  object
 54  listing.pricingInfo.period            35772 non-null  object
 55  listing.pricingInfo.price             35772 non-null  float64
 56  listing.pricingInfo.rentalPrice       35772 non-null  float64
 57  listing.pricingInfo.rentalTotalPrice  35772 non-null  object
 58  listing.pricingInfo.salePrice         35772 non-null  object
 59  listing.pricingInfo.yearlyIptu        35772 non-null  object
 60  listing.propertyType                  35772 non-null  object
 61  listing.publicationType               35772 non-null  object
 62  listing.sauna                         35772 non-null  bool
 63  listing.soundproofing                 35772 non-null  bool
 64  listing.sportcourt                    35772 non-null  bool
 65  listing.subtitle                      35772 non-null  object
 66  listing.suites                        35772 non-null  object
 67  listing.tenniscourt                   35772 non-null  bool
 68  listing.title                         35772 non-null  object
 69  listing.totalAreas                    35772 non-null  object
 70  listing.unitFloor                     35772 non-null  int64
 71  listing.unitSubTypes                  35772 non-null  object
 72  listing.unitTypes                     35772 non-null  object
 73  listing.unitsOnTheFloor               35772 non-null  int64
 74  listing.updatedAt                     35772 non-null  object
 75  listing.usableAreas                   35772 non-null  object
 76  listing.usageTypes                    35772 non-null  object
 77  type                                  35772 non-null  object
dtypes: bool(22), float64(2), int64(4), object(50)
memory usage: 16.0+ MB

In [12]:
data.describe()

,listing.bedrooms,listing.id,listing.pricingInfo.price,listing.pricingInfo.rentalPrice,listing.unitFloor,listing.unitsOnTheFloor
count,35772.000000,3.577200e+04,35772.000000,35772.000000,35772.000000,35772.000000
mean,2.334116,2.433648e+09,127.638362,127.638362,0.142514,0.328721
std,1.275377,2.301341e+08,277.270735,277.270735,1.158915,1.914411
min,0.000000,4.892923e+07,1.000000,1.000000,0.000000,0.000000
25%,1.000000,2.461902e+09,1.900000,1.900000,0.000000,0.000000
50%,2.000000,2.481965e+09,3.500000,3.500000,0.000000,0.000000
75%,3.000000,2.488039e+09,12.000000,12.000000,0.000000,0.000000
max,14.000000,2.491112e+09,999.000000,999.000000,29.000000,52.000000

## Colunas com valores null

In [22]:
#segundo o autor do dataset os valores null foram tratados para aparecerem como 'normal'
columns_with_null_values = data.columns[data.isin(['normal']).sum(axis=0) > 0].tolist()

#getting the name and total number of null values per column
columns_with_null_values_sum = {}
for column_name in columns_with_null_values:
    columns_with_null_values_sum[column_name] = data[column_name].isin(['normal']).sum(axis=0)
    
columns_with_null_values_sum

{'account.licenseNumber': 3647,
 'listing.address.neighborhood': 564,
 'listing.address.point.lat': 138,
 'listing.address.point.lon': 138,
 'listing.address.point.source': 138,
 'listing.address.street': 8876,
 'listing.address.streetNumber': 17051,
 'listing.address.zipCode': 5126,
 'listing.address.zone': 560,
 'listing.amenities': 8638,
 'listing.bathrooms': 3,
 'listing.description': 267,
 'listing.floors': 33249,
 'listing.legacyId': 32072,
 'listing.parkingSpaces': 2613,
 'listing.pricingInfo.monthlyCondoFee': 11025,
 'listing.pricingInfo.rentalTotalPrice': 11095,
 'listing.pricingInfo.salePrice': 26219,
 'listing.pricingInfo.yearlyIptu': 11328,
 'listing.suites': 7241,
 'listing.title': 83,
 'listing.totalAreas': 1591,
 'listing.unitSubTypes': 31822,
 'listing.updatedAt': 1,
 'listing.usableAreas': 1,
 'type': 28876}